body {background-color: rgb(84, 84, 218);
}

#img0 {width: 40%;}
h1 {text-align: center;
}

h2 {text-align: center;
}

h2 {background-color: rgb(81, 157, 201);
}

h3 {background-color: rgb(51, 165, 231);
}

#imal {width: 50%;
}
 h2 {border-color: rgb(0, 0, 0);
    border: 4px;
    border-style: solid;}